<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <ListAppender name="Log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level - %msg%n"/>
        </ListAppender>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Log" />
        </Root>
    </Loggers>
</Configuration>
